.auto-resize-editor {
  min-height: 200px;
}

.auto-resize-editor .ql-editor {
  min-height: 150px;
  resize: none;
}

.auto-resize-editor .ql-container {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.quill-theme {
  display: flex;
  flex-direction: column;
}

.quill-theme .ql-toolbar {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.quill-auto-height .ql-editor {
  min-height: 500px;
  max-height: none;
  overflow: visible;
}

.quill-auto-height .ql-container {
  height: auto;
  min-height: 500px;
}
