<header class="p-3 w-full fixed top-0 z-50 bg-gradient-to-r from-primary to-secondary">

  <div class="flex align-middle items-center px-10 mx-auto gap-6">
    <a class="max-h-16 flex items-center gap-3 text-white border-r-white border-r-2 pr-6">
      <img src="/assets/icons/RubberDuck.svg" alt="Rubber Duck Logo" class="size-30">
    </a>
    <nav class="flex gap-3 my-2 uppercase text-lg text-white">
      <a routerLink="/posts" routerLinkActive="text-accent">Posts</a>
      <a routerLink="/about" routerLinkActive="text-accent">About</a>
      @if (this.accountService.role() === 'Admin') {
        <a routerLink="/admin" routerLinkActive="text-accent">Admin</a>
      }
    </nav>
    <div class="flex align-middle ml-auto gap-3">
      @if (accountService.currentUser(); as user) {
        <div class="dropdown dropdown-end">
          <div tabindex="0" role="button" class="flex item-center text-white text-xl gap-3 cursor-pointer">
            <img src="/assets/icons/Duck.svg" alt="user avatar" class="w-8 h-8 square-full">
            <span>{{user.userName}}</span>
          </div>
          <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
            <li><a (click)="Logout()">Logout</a></li>
          </ul>
        </div>
      } @else {
        <app-auth></app-auth>
      }
    </div>
  </div>
</header>
