name: Docker Build and Push to Docker Hub

on:
  push:
    branches:
      - master
    paths:
      - 'API/**'
  workflow_dispatch:

env:
  IMAGE_NAME: rubberduckdiaries-api
  KEY_VAULT_NAME: rubberduckdiaries-kv

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    environment: prod
    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Get secrets from Key Vault
        uses: Azure/get-keyvault-secrets@v1
        with:
          keyvault: ${{ env.KEY_VAULT_NAME }}
          secrets: 'TokenKey, AdminUsername, AdminEmail, AdminPassword, ClientUrl, DbConnectionString'
        id: keyvault

      - name: Replace tokens in appsettings.json
        uses: cschleiden/replace-tokens@v1
        with:
          files: '["API/appsettings.json"]'
        env:
          TOKEN_KEY: ${{ steps.keyvault.outputs.TokenKey }}
          ADMIN_USERNAME: ${{ steps.keyvault.outputs.AdminUsername }}
          ADMIN_EMAIL: ${{ steps.keyvault.outputs.AdminEmail }}
          ADMIN_PASSWORD: ${{ steps.keyvault.outputs.AdminPassword }}
          CLIENT_URL: ${{ steps.keyvault.outputs.ClientUrl }}
          CONNECTION_STRING: ${{ steps.keyvault.outputs.DbConnectionString }}

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract metadata for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: docker.io/${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}
            type=sha,prefix=sha-

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./API
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Deploy new revision to Container App (pulls latest image)
        run: |
          az containerapp update --name rubberduckdiaries-api --resource-group RG-RubberDuckDiaries --image docker.io/${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}:latest
